body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #fff9f1;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*************
    MOBILE 
*************/

/*************
    HEADER 
*************/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: #FFD966;
}

.tittle_header {
    padding: 0%;
    margin-top: 3%;
    margin-left: 26%;
    font-family: 'Oswald', sans-serif;
    color: #FDEEDC;
    font-weight: 500;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 0.02em;
}

#ico_tittle {
    width: 38px;
    height: 35px;
    padding-right: 2%;
    padding-bottom: 2%;
}

/*************
    NAVBAR 
*************/

.nav_header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 2%;
    width: 100%;
}

#padding_ {
    padding: 0%;
}

.nav_link {
    display: flex;
    font-family: 'Alegreya Sans', bold;
    color: #FDEEDC;
    text-decoration: none;
    font-size: 12.5px;
}

.ico_nav {
    display: flex;
    width: 16px;
    height: 16px;
    color: #FDEEDC;
    margin: 0;
}

#more_ {
    width: 20px;
    height: 20px;
}

/*************
    MAIN
*************/

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*************
    CONTACT
*************/

.conteiner_contact {
    display: flex;
    margin: auto;
    width: 83%;
    height: 66%;
    border-radius: 16px;
    background-color: #DEA057;
}

.conteiner_two{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0%;
    width: 85%;
    height: 90%;
    border-radius: 16px;
    background-color: #c58941;
}

.text_ {
    font-family: 'Alegreya Sans', bold;
    color: #FDEEDC;
    text-decoration: none;
    margin: 0%;
    font-size: 22px;
}

#font {
    font-family: 'Oswald', sans-serif;
    color: #FDEEDC;
    font-weight: 500;
    font-size: 37px;
    line-height: 47px;
    letter-spacing: 0.02em;
    margin: 0%;
    padding-top: 3%;
}

.ul {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    padding-bottom: 15%;
    padding-right: 3%;
}

.li {
    list-style-type: none;
    padding: 3%;
    padding-top: 3%;
    margin: 0%;
}

#ico {
    display: flex;
    width: 18px;
    height: 18px;
}


/*************
    TABLET
*************/

/*************
    HEADER
*************/

@media (min-width: 412.99px) and (max-width: 1023.98px) {

    .tittle_header {
        font-size: 70px;
        line-height: 47px;
        letter-spacing: 1.4px;
        margin-left: 32%;
    }

    #ico_tittle {
        width: 60px;
        height: 60px;
        padding-right: 2%;
        padding-bottom: 2%;
    }

    .nav_link {
        font-size: 24px;
    }

    .ico_nav {
        width: 35px;
        height: 35px;
    }
    

    #more_ {
        width: 40px;
        height: 40px;
    }

/*************
   CONTACT
*************/

.text_ {
    font-size: 37px;
}

#font {
    font-size: 76px;
    padding-top: 3%;
}

.ul {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
}

#ico {
    width: 30px;
    height: 30px;
}
}

/*************
    DESKTOP
*************/

@media (min-width: 1024px) {

/****************
    HEADER
*****************/
    .tittle_header {
        font-size: 96px;
        letter-spacing: 1.2px;
        margin-left: 35%;
    }
    
    #ico_tittle {
        width: 75px;
        height: 75px;
        padding-right: 2%;
        padding-bottom: 2%;
    }
    
    .nav_link {
        font-size: 22px;
    }
    
    .ico_nav {
        width: 32px;
        height: 32px;
    }
    
    #more_ {
        width: 35px;
        height: 35px;
    }
    
/****************
    CONTACT
*****************/
    .conteiner_contact {
        width: 83%;
        height: 66%;
    }

    .conteiner_two{
        width: 94%;
        height: 87%;
    }

    .text_ {
        font-size: 20px;
        display: flex;
        align-items: center;
        margin-right: 10px;
        padding-right: 7%;
        padding-bottom: 3%;
        white-space: nowrap;
    }

        #font {
        font-size: 57px;
        margin: 0%;
    }

    .ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0%;
    }

    .li {
        list-style-type: none;
        padding: 3%;
        padding-top: 3%;
        margin: 0%;
        flex-basis: 50%;
    }

    #ico {
        display: flex;
        width: 18px;
        height: 18px;
    }
}